In [1]:
%%capture
!pip install pandas
!pip install spacy # for auto labeling 
!python -m spacy download en_core_web_sm

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/mnt/f/datasets/data.csv')

# Display the total number of articles
print(f"Total articles available: {len(df)}")

# Sample 200 articles randomly
sampled_df = df.sample(n=200, random_state=42)

# Display the first few entries
sampled_df.head()

Total articles available: 105375

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
43325,63642,NaN,The Week Magazine,theweekonlineeditorsuk@futurenet.com (Keumars ...,Young teen wins top science prize for soap tha...,Memory of Ethiopian workers out in the sun ins...,https://theweek.com/science/young-teen-wins-to...,https://cdn.mos.cms.futurecdn.net/zAhQwHDgPJoS...,2023-10-27 09:38:42.000000,"A 14-year-old boy has been named ""America's to...",Ethiopia,NaN
19051,13370,NaN,Boing Boing,Rob Beschizza,"Vehicular homicide suspect who ""reeked of alco...","Ting Ye, 26, ""reeked of alcohol"" when she was ...",https://boingboing.net/2023/10/30/vehicular-ho...,https://i0.wp.com/boingboing.net/wp-content/up...,2023-10-30 12:09:58.000000,"Ting Ye, 26, ""reeked of alcohol"" when she was ...",United States,"Ting Ye, 26, ""reeked of alcohol"" when she was ..."
45314,69158,NaN,Eater,Martha Cheng,The Pastry Chefs Defining Restaurant Dessert R...,"Hannah Ziskin, Tavel Bristol-Jospeh, Kelly Nam...",https://www.eater.com/23919112/restaurant-past...,https://cdn.vox-cdn.com/thumbor/EdI5vEOW1_S11V...,2023-10-18 19:09:20.000000,Kelly Nam plates a dessert at New York City’s ...,Guyana,NaN
5671,97723,NaN,Boing Boing,Jennifer Sandlin,"Flula Borg hilarious deconstructs that weird ""...","Ok, one last Halloween post and I'll abandon t...",https://boingboing.net/2023/11/02/flula-borg-h...,https://i0.wp.com/boingboing.net/wp-content/up...,2023-11-02 09:02:40.000000,"Ok, one last Halloween post and I'll abandon t...",History,"Ok, one last Halloween post and I'll abandon t..."
78957,84216,NaN,Bangkok Post,Prasit Tangprasert,Korat zoo welcomes new member - sun bear,Nakhon Ratchasima Zoo has a new member - a one...,https://www.bangkokpost.com/thailand/general/2...,https://static.bangkokpost.com/media/content/2...,2023-10-05 03:50:00.000000,Nakhon Ratchasima Zoo has a new member - a one...,Myanmar,NaN

In [3]:
# NER - Named Entity Recognition 
print(sampled_df.columns)

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [4]:
# how many entries are available in full_content? 114  
sampled_df[['title', 'description', 'content', 'full_content']].notnull().sum()

title           200
description     200
content         200
full_content    114
dtype: int64

In [5]:
# use 114 full_content entries for now 
# use spacy for auto labeling 
import spacy

# Load English NER model
nlp = spacy.load("en_core_web_sm")

# Apply NER to each article
def extract_ner(text):
    doc = nlp(text)
    return [(ent.text, ent.start_char, ent.end_char, ent.label_) for ent in doc.ents]

# Filter non-null content
valid_articles = sampled_df[sampled_df['full_content'].notnull()]['full_content']

# Extract entities from each article
labeled_data = []
for text in valid_articles:
    entities = extract_ner(text)
    labeled_data.append((text, {"entities": [(start, end, label) for _, start, end, label in entities]}))

In [6]:
# labeled examples to verify structure 
for i in range(3):  # Show first 3 samples
    text, annotations = labeled_data[i]
    print("Text snippet:", text[:200])  # Print first 200 characters
    print("Entities:", annotations["entities"])
    print()

Text snippet: Ting Ye, 26, "reeked of alcohol" when she was pulled from the driver's seat of a 100MPH rollover crash that killed her passenger, Yabao Liu. While police in Washington state twiddled their thumbs, she
Entities: [(0, 7, 'PERSON'), (9, 11, 'DATE'), (81, 87, 'CARDINAL'), (130, 139, 'PERSON'), (157, 167, 'GPE'), (220, 245, 'ORG'), (249, 256, 'GPE'), (289, 294, 'GPE'), (296, 298, 'PERSON'), (351, 386, 'ORG'), (396, 399, 'ORG'), (538, 548, 'PERSON'), (554, 569, 'ORG'), (576, 591, 'ORG'), (601, 603, 'PERSON'), (608, 611, 'PERSON'), (621, 626, 'GPE'), (628, 630, 'PERSON'), (671, 676, 'PERSON'), (733, 738, 'GPE'), (743, 760, 'GPE'), (855, 868, 'PERSON'), (880, 890, 'PERSON'), (902, 913, 'PERSON'), (925, 934, 'PERSON')]

Text snippet: Ok, one last Halloween post and I'll abandon the topic until next year. As you're munching on your candy haul, watch this funnyvideocreated by German actor, comedian, and musicianFlula Borg. He begins
Entities: [(4, 7, 'CARDINAL'), (8, 22, 'DATE'), (61, 70, 'DATE'), (143, 149, 'NORP'), (171, 189, 'PERSON'), (214, 223, 'DATE'), (320, 331, 'PERSON'), (372, 376, 'PERSON'), (427, 430, 'CARDINAL'), (645, 665, 'ORG'), (687, 696, 'DATE'), (715, 728, 'DATE'), (925, 946, 'PERSON'), (1032, 1037, 'ORDINAL'), (1050, 1065, 'DATE'), (1080, 1088, 'NORP'), (1126, 1139, 'DATE'), (1161, 1176, 'GPE'), (1206, 1215, 'DATE'), (1292, 1305, 'DATE'), (1362, 1378, 'WORK_OF_ART'), (1437, 1444, 'GPE'), (1528, 1541, 'PERSON'), (1575, 1589, 'WORK_OF_ART'), (1709, 1718, 'DATE')]

Text snippet: SAG-AFTRA said it has responded toHollywood studios’ “last, best & final offer”on Mondayas pressure ramps up to reach a deal ending the industry-freezing strike. The actors’ union said in a message to
Entities: [(0, 9, 'PERSON'), (32, 43, 'ORG'), (73, 90, 'ORG'), (263, 266, 'CARDINAL'), (324, 326, 'GPE'), (482, 490, 'DATE'), (557, 612, 'ORG'), (641, 651, 'WORK_OF_ART'), (657, 668, 'PERSON'), (693, 699, 'ORG'), (701, 708, 'GPE'), (710, 722, 'ORG'), (728, 750, 'ORG'), (752, 774, 'ORG'), (800, 803, 'ORG'), (856, 871, 'DATE'), (948, 959, 'DATE'), (967, 970, 'CARDINAL'), (1042, 1070, 'DATE'), (1072, 1081, 'PERSON'), (1100, 1113, 'CARDINAL'), (1167, 1174, 'DATE'), (1450, 1478, 'ORG'), (1512, 1521, 'GPE'), (1548, 1561, 'DATE'), (1591, 1593, 'GPE'), (1741, 1746, 'CARDINAL'), (1747, 1756, 'PERSON'), (1959, 1962, 'ORG'), (1965, 1978, 'PERSON')]

In [8]:
import IPython
print(IPython.__file__)

/home/max/krag-env/lib/python3.11/site-packages/IPython/__init__.py

In [10]:
from IPython.display import HTML, display
from spacy import displacy
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp("Apple is looking at buying U.K. startup for $1 billion")

# Get HTML manually, disable Jupyter output integration
html = displacy.render(doc, style="ent", jupyter=False)
display(HTML(html))